<footer class="rodape">
  <p id="contato"><b>Contato</b></p>
  <div class="dados-contato">
    <p>Fortaleza - CE</p>
    <p>info@form.com</p>
    <p>0000000</p>
  </div>
  <div class="rede-social">
    <a class="links" href="https://api.whatsapp.com/send?phone=558500000000" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-whatsapp" aria-label="whatsapp-icon"></i>
    </a>
    <a class="links" href="https://www.instagram.com/florrosadacakes/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram" aria-label="instagram-icon"></i>
    </a>
    <a class="links" href="" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter" aria-label="twitter-icon"></i>
    </a>
  </div>
  <p id="Copyright">&copy; 2023 - by FLRK | dinnerDelivery</p>
  <button class="btn-custom" (click)="onToggleTheme()">Alternar tema</button>
   
</footer>
