/* Estilos gerais */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rodape {
  display: flex;
  position: relative;
  width: 100%;
  height: 14rem;
  background-color: #a52a2a73;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  color: #ffffff;
  margin-top: 7rem;
}

/* Contato no rodapé */
#contato {
  margin-top: 0.8rem;
  font-size: 2rem;
}

.dados-contato {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}

/* Rede social no rodapé */
.rede-social {
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
}

/* Copyright no rodapé */
#Copyright {
  font-size: 12px;
}

/* Efeito de hover nos links */
a:hover {
  filter: brightness(0.55);
}

/* Espaçamento entre ícones de links */
a {
  padding: 8px 7px;
  color: #ffffff;
}

/* Estilo dos links das redes sociais */
.links {
  text-decoration: none;
  cursor: pointer;
}

/* Estilo do botão de alternar tema */
.theme-switcher {
  margin-top: 1rem;
}

.theme-toggle-btn {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.theme-toggle-btn:hover {
  background-color: var(--text-color-hover);
  color: var(--background-color-hover);
}

.btn-custom {
  background-color: #89CFF0; /* Cor azul bebê */
  color: #FF4500; /* Cor vermelha mais vibrante */
  border: none;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #73B1D6; /* Cor azul um pouco mais escura */
  color: #FF0000; /* Cor vermelho puro */
}
