/* Estilos gerais */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.activated{
  filter: brightness(50%);
}

/* Logo da flor */
.logo-flor {
  width: 150px; /* Ajuste o tamanho da imagem */
  height: auto;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Adicionado z-index */
}

.icon-container {
  position: fixed;
  top: 10px;
  right: 10px; /* alterado para right */
  font-size: 30px; /* aumentado o tamanho dos ícones */
  z-index: 1000; /* Adicionado z-index */
}

.icon-container a {
  color: #ff00ff; /* cor alterada para ff00ff */
  text-decoration: none;
  margin-right: 10px;
}

.icon-container a:hover {
  color: #ffffff; /* cor alterada para branco ao passar o mouse */
}

.cart-item-count {
  position: absolute;
  bottom: 0;
  right: -10px;
  background-color: #ff00ff;
  color: #ffffff;
  font-size: 16px;
  padding: 1px 1px;
}

.cart-item-container {
  display: inline-block;
  position: relative;
}

/* Container de pesquisa */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Adicionado z-index */
}

/* Campo de pesquisa */
#cp-pesquisar {
  width: 25rem;
  height: 2.5rem;
  padding: 0px 15px;
  background: #a52a2a26;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  position: relative;
}

/* Botão de pesquisa */
#btn-pesquisar {
  display: flex;
  height: 2.5rem;
  font-size: 30px;
  background: #a52a2a26;
  align-items: center;
  color: #ff00ff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

/* Estilo para o ícone de lupa do botão de pesquisa */
.bi-search {
  font-size: 1.25rem;
}
