/* Estilos gerais */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.activated{
  filter: brightness(50%);
}

/* Logo */
.logo {
  width: 180px; /* Ajuste o tamanho da imagem */
  height: auto;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Adicionado z-index */
}

.icon-container {
  position: fixed;
  top: 10px;
  right: 10px; /* alterado para right */
  font-size: 30px; /* aumentado o tamanho dos ícones */
  z-index: 1000; /* Adicionado z-index */
}

.icon-container a {
  color: #A52A2A; /* cor alterada para ff00ff */
  text-decoration: none;
  margin-right: 10px;
}

.icon-container a:hover {
  color: #ffffff; /* cor alterada para branco ao passar o mouse */
}

.cart-item-count {
  position: absolute;
  bottom: 0;
  right: -10px;
  background-color: #A52A2A;
  color: #ffffff;
  font-size: 16px;
  padding: 1px 1px;
}

.cart-item-container {
  display: inline-block;
  position: relative;
}

/* Container de pesquisa */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Adicionado z-index */
}

/* Estilo para o ícone de lupa do botão de pesquisa */
.bi-search {
  font-size: 1.25rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Estilo do botão de alternar tema */
.theme-switcher {
  margin-top: 1rem;
}

.theme-toggle-btn {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.theme-toggle-btn:hover {
  background-color: var(--text-color-hover);
  color: var(--background-color-hover);
}

.btn-custom {
  background-color: #89CFF0; /* Cor azul bebê */
  color: #FF4500; /* Cor vermelha mais vibrante */
  border: none;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #73B1D6; /* Cor azul um pouco mais escura */
  color: #FF0000; /* Cor vermelho puro */
}
.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 60px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 15px;
}

.theme-icon {
  font-size: 1.5rem;
  opacity: 0.4;
}

.active-icon {
  opacity: 1;
}
/* Estilos do interruptor em formato de slide */
.theme-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Estilos para os ícones de sol e lua */
.sun-icon {
  color: #FFD700;
  margin-right: 5px;
}

.moon-icon {
  color: #4B0082;
  margin-left: 5px;
}

/* Estilo para posicionar corretamente o interruptor e os ícones */
.theme-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
