


/* Estilos gerais */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo da flor */
.logo-flor {
  width: 150px; /* Ajuste o tamanho da imagem */
  height: auto;
  position: fixed;
  top: 10px;
  left: 10px;
}

/* Container principal da pesquisa */
.container1 {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  display: 100%;
  margin-top: 30px;
}
.icon-container {
  position: fixed;
  top: 10px;
  right: 10px; /* alterado para right */
  font-size: 30px; /* aumentado o tamanho dos ícones */
}

.icon-container a {
  color: #ff00ff; /* cor alterada para ff00ff */
  text-decoration: none;
  margin-right: 10px;
}

.icon-container a:hover {
  color: #ffffff; /* cor alterada para branco ao passar o mouse */
}

.cart-item-count {
  position: absolute;
  bottom: 0;
  right: -10px;
  background-color: #ff00ff;
  color: #ffffff;
  font-size: 16px;
  padding: 1px 1px;
}

.cart-item-container {
  display: inline-block;
  position: relative;
}