<nav class="is-mobile">
  <div class="icon-container">
    <div class="logo">
      <a [routerLink]="['/']">
        <img [src]="themeService.logoImage" alt="DinnerDelivery" />
      </a>
    </div>
    <a
      [routerLink]="['/']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-house nav-icon"></i>
    </a>
    <a
      [routerLink]="['/carrinho']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="cart-item-container">
        <i class="bi bi-cart nav-icon"></i>
        <span *ngIf="this.cartService.totalItems > 0" class="activated">
          {{ this.cartService.totalItems }}
          <span class="visually-hidden">número de itens no carrinho</span>
        </span>
      </div>
    </a>
    <a
      [routerLink]="['/login']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-person-circle nav-icon"></i>
    </a>
    <a
      [routerLink]="['/register-product']"
      [hidden]="!this.logged"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-book nav-icon"></i>
    </a>
    <!-- Adicionado ícone de engrenagem -->
    <a (click)="toggleSidebar()" style="cursor: pointer">
      <i class="bi bi-gear nav-icon"></i>
    </a>
  </div>
</nav>
<!-- Adicionada barra lateral -->
<div class="sidebar" *ngIf="showSidebar">
  <div class="theme-icons-container">
    <i class="bi bi-sun-fill sun-icon" aria-label="light-theme-icon"></i>
    <div class="theme-toggle">
      <input
        type="checkbox"
        id="themeSwitch"
        (change)="onToggleTheme()"
        [checked]="isDarkTheme()"
      />
      <label for="themeSwitch" class="slider"></label>
    </div>
    <i class="bi bi-moon-fill moon-icon" aria-label="dark-theme-icon"></i>
  </div>
  <div class="sidebar-content">
    <button (click)="logout()" class="logout-btn">
      <i class="bi bi-door-open-fill"></i> Logout
    </button>
  </div>
</div>

