/* cartitem.css */

/* Define o estilo dos itens no carrinho */
.cart-items {
  margin-bottom: 20px;
  color: inherit;
}

/* Define o estilo de cada item do carrinho */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: inherit;
}

/* Define o estilo do nome do item no carrinho */
.cart-item-name {
  margin: 0;
  font-size: 1.2rem;
  color: inherit;
}

/* Define o estilo do preço do item no carrinho */
.cart-item-price {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: inherit;
}
