<div class="container">
  <h2>Carrinho de Compras</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.cartService.cart?.products">
        <td class="item-name">{{ item.name }}</td>
        <td class="item-price">R$ {{ item.unit_price | number:'1.2-2' }}</td>
        <td class="item-quantity">
          <button (click)="decreaseItemQuantity(item.id)" class="btn btn-outline-primary">-</button>
          {{ item.quantity }}
          <button (click)="increaseItemQuantity(item.id)" class="btn btn-outline-primary">+</button>
        </td>
        <td class="item-subtotal">R$ {{ (item.unit_price * item.quantity) | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <label id="retira-balcao">
      <input type="radio" name="deliveryOption" (change)="changeDeliveryOption('pickup')" checked>
      Retirada no balcão
    </label>
    <label>
      <input type="radio" name="deliveryOption" (change)="changeDeliveryOption('delivery')">
      Entrega (R$ 10,00)
    </label>
  </div>
  <div class="text-right">
    <h3>Total: R$ {{ this.cartService.cart?.subtotal | number:'1.2-2' }}</h3>
    <button (click)="addMoreItems()" class="btn btn-secondary mr-2">Adicionar mais itens</button>
    <button (click)="checkout()" class="btn btn-primary">Continuar Compra</button>
  </div>
</div>
