<div class="container">
  <div class="card">
    <div class="desc-box">
      <div class="row">
        <div class="col"><label for="name">Nome:</label><br /></div>
        <div class="col"><label for="description">Descrição:</label><br /></div>
        <div class="col"><label for="unit_price">Preço:</label><br /></div>
        <div class="col d-flex align-items-center"></div>
      </div>
    </div>
  </div>
  <br />
  <div *ngFor="let item of items" class="item">
    <div class="card">
      <div
        class="img-box"
        [style.background-image]="'url(' + item.product_url + ')'"
      ></div>
      <div class="desc-box">
        <div class="row">
          <div class="col">
            <input
              [(ngModel)]="item.name"
              id="name"
              name="name"
              class="form-control"
              [disabled]="!item.editingName"
            />
          </div>
          <div class="col">
            <input
              [(ngModel)]="item.description"
              id="description"
              name="description"
              class="form-control shadow-none"
              [disabled]="!item.editingDescription"
            />
          </div>
          <div class="col">
            <input
              [(ngModel)]="item.unit_price"
              id="unit_price"
              name="unit_price"
              class="form-control shadow-none"
              [disabled]="!item.editingUnitPrice"
            />
          </div>
          <div class="col d-flex align-items-center">
            <i class="bi bi-pencil" (click)="enableEditing(item)"></i>
            <i class="bi bi-trash" (click)="deleteProduct(item)"></i>
            <button
              (click)="updateProduct(item)"
              [hidden]="
                !(
                  item.editingName ||
                  item.editingDescription ||
                  item.editingUnitPrice
                )
              "
              class="btn btn-primary update-btn"
            >
              Atualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
