/* Reseta estilos padrão e define a fonte, margens, espaçamentos e box-sizing */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do input de pesquisa */
#cp-pesquisar {
  width: 339px;
  height: 44px;
  padding: 0px 15px;
  background: #a52a2a26;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 30px;
}

/* Alinhamento do placeholder do input de pesquisa */
#cp-pesquisar::placeholder {
  align-items: center;
}

/* Posição e tamanho dos ícones da barra de navegação */
.cart-login {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 24px;
}

/* Estilo dos links da barra de navegação */
.cart-login a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

/* Efeito de hover nos links da barra de navegação */
.cart-login a:hover {
  color: #007bff;
}

/* Estilo do rodapé */
.rodape {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13.5rem;
  background-color: #a52a2a73;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  color: #ffffff;
}

/* Estilo do título "Contato" no rodapé */
#contato {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}

/* Espaçamento entre os ícones das redes sociais no rodapé */
.rede-social {
  margin-top: 22px;
  margin-bottom: 20px;
}

/* Estilo do texto de direitos autorais no rodapé */
#Copyright {
  font-size: 11px;
}

/* Efeito de hover nos links */
a:hover {
  filter: brightness(0.55);
}

/* Espaçamento entre ícones de links */
a {
  padding: 5px 7px;
}

/* Estilo dos links das redes sociais */
.links {
  text-decoration: none;
}
/* Adicione este bloco */
.icon-container {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

/* Estilo do contador de itens do carrinho */
.cart-item-count {
  position: absolute;
  bottom: 0;
  right: -10px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 16px;
  padding: 1px 1px; 
}
.cart-item-container {
  display: inline-block;
  position: relative;
}