<router-outlet></router-outlet>
<div class="cart-login">
  <a [routerLink]="['/']">
    <i class="bi bi-house"></i>
  </a>
  <a [routerLink]="['/carrinho']">
    <div class="cart-item-container">
      <i class="bi bi-cart"></i>
      <span *ngIf="totalItems > 0" class="cart-item-count">
        {{ totalItems }}
        <span class="visually-hidden">número de itens no carrinho</span>
      </span>
    </div>
  </a>
  <a [routerLink]="['/login']">
    <i class="bi bi-person-circle"></i>
  </a>
</div>
<app-order-summary *ngIf="orderSummaryVisible" [order]="currentOrder"></app-order-summary>
