/* Estilos gerais */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container principal */
.container1 {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  display: 100%;
  margin-top: 30px;
}

/* Container dos produtos */
.container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem; /* alterado de 1rem para 3rem */
}

/* tamanho item produto */
.item {
  height: 30rem;
  margin-top: 2rem;
}

/* tamanho card produto */
.card {
  width: 20rem;
  height: 25rem;
  display: flex;
}

/* Container do nome, descrição, preço e botão Adicionar ao Carrinho */
.desc-box {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

/* Estilo das imagens dos produtos */
.product1 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 36rem;
}

/* Botão Adicionar ao Carrinho */
#addItem {
  display: flex;
  border-color: #ffffff;
  background-color: #A52A2A;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 10px;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  flex-wrap: wrap;
}

/* Botao proximos produtos */
.btnProximo {
  width: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #A52A2A;
  border-radius: 0.4rem;
}

.btnProximo,
#addItem:hover {
  background-color: #532525;
  color: #ffffff;
}

/* Botão de add e diminui produto */
.item-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 0.5rem;
}

#btDiminui,
#btAumenta {
  background-color: #A52A2A;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.7rem;
}

#btDiminui:hover,
#btAumenta:hover {
  background-color: #532525;
}

#btDiminui:disabled,
#btAumenta:disabled {
  background-color: #A52A2A;
  opacity: 0.5;
  cursor: not-allowed;
}
