<div class="container1">
</div>

<div class="container2">
  <div *ngFor="let item of items" class="item">
    <div class="card border-danger h-100">
      <div class="img-box product1" [style.background-image]="'url(' + item.imageUrl + ')'"></div>
      <div class="desc-box">
          <p class="tituloItem">{{item.name}}</p>
          <p class="descricaoItem">{{item.description}}</p>
          <p class="precoItem">Preço: {{item.unit_price}}</p>
        <button id="addItem" (click)="addProductToCart(item.id, item.quantity)">Adicionar ao carrinho</button>
        <div class="item-quantity">
          <button id="btDiminui" (click)="decreaseQuantity(item)" [disabled]="item.quantity === 0">-</button>
          <span>{{item.quantity}}</span>
          <button id="btAumenta" (click)="increaseQuantity(item)" [disabled]="item.quantity === 10">+</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botão para ir para a próxima página -->
<div class="btnProximo d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-danger" type="button">
    Próximo
    <i class="bi bi-arrow-right"></i>
  </button>
</div>

<app-footer></app-footer>

<!-- Roteador -->
<router-outlet></router-outlet>
