<div class="is-mobile">
<div class="container1">
  <div id="search-container">
    <form action="#" class="d-flex">
      <input type="search" id="cp-pesquisar" name="search" placeholder="Pesquisar" aria-label="Search" [(ngModel)]="this.searchTerm" />
      <i class="btpesquisa ri-search-eye-line"></i>
    </form>
  </div>

</div>

<div class="container2">
  <div *ngFor="let item of items | filter:searchTerm" class="item">
    <div class="card">
      <div class="img-box product1" [style.background-image]="'url(' + item.product_url + ')'"></div>
      <div class="desc-container">
        <div class="titulo-item">
          <p>{{item.name}}</p>
        </div>
        <div class="descricao-item">
          <p>{{item.description}}</p>
        </div>
        <div class="preco-item">
          <p>Preço: R$ {{ item.unit_price.toFixed(2).toString().replace('.', ',') }}</p>
        </div>
      </div>
        <button id="addItem" (click)="addProductToCart(item.id, item.quantityCart)">Adicionar ao carrinho<i class="bi bi-basket2"></i></button>
       <div class="item-quantity">
        <button id="btDiminui" (click)="decreaseQuantity(item)" [disabled]="item.quantityCart === 0" class="btn btn-danger btn-sm">-</button>
        <span>{{item.quantityCart}}</span>
        <button id="btAumenta" (click)="increaseQuantity(item)" [disabled]="item.quantityCart === 10" class="btn btn-danger btn-sm">+</button>
      </div>
    </div>
  </div>
</div>

<!-- Botão para ir para a próxima página -->
<div class="btnProximo d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-danger" type="button">
    Próximo
    <i class="bi bi-arrow-right"></i>
  </button>
</div>
</div>
<app-footer></app-footer>
<!-- Roteador -->
<router-outlet></router-outlet>
