body {
    min-height: 100vh;
    display: flex;
    align-items: flex-start; /* faz o conteúdo alinhar ao topo */
    justify-content: center;
    padding-top: 3rem; /* adicione espaço no topo do body */
  }
  
  .form-container {
    width: 50%;
    max-width: 600px; /* ajuste o valor para controlar a largura máxima do formulário */
    margin-top: 3rem; /* adicione espaço no topo do formulário */
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group-text {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .form-control {
    border-left: none;
  }
  
  .icon-name {
    color: #1a73e8; /* Cor do ícone 'Nome' */
  }
  
  .icon-description {
    color: #34a853; /* Cor do ícone 'Descrição' */
  }
  
  .icon-price {
    color: #ea4335; /* Cor do ícone 'Preço' */
  }
  
  .icon-image {
    color: #fbcc05; /* Cor do ícone 'Imagem' */
  }
  