<form (submit)="addProduct()">
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="newProduct.name" required>
  
    <label for="description">Descrição:</label>
    <textarea id="description" [(ngModel)]="newProduct.description"></textarea>
  
    <label for="price">Preço:</label>
    <input type="number" id="price" [(ngModel)]="newProduct.price" required>
  
    <label for="image">Imagem:</label>
    <input type="text" id="image" [(ngModel)]="newProduct.imageUrl">
  
    <button type="submit">Cadastrar</button>
  </form>
  