/* dark-theme.css */
:root {
  --background-color: #000;
  --text-color: #ffffff;
  --input-background: #a52a2a26;
  --footer-background: #a52a2a73;
  --link-hover-color: #007bff;
  --cart-item-count-bg: #ff0000;
  --icon-color: black;
  --icon-hover-color: #007bff;
}

/* ... */

/* Define o estilo dos itens no carrinho */
.cart-items {
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Define o estilo de cada item do carrinho */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--text-color);
}

/* Define o estilo do nome do item no carrinho */
.cart-item-name {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Define o estilo do preço do item no carrinho */
.cart-item-price {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
}
