<div class="card forgot-password-card">
    <div class="card-body">
      <h2>Esqueci minha senha</h2>
      <br>
      <form (ngSubmit)="onForgotPasswordSubmit()">
        <input type="email" id="forgotPasswordEmail" name="forgotPasswordEmail" [(ngModel)]="forgotPasswordEmail" required placeholder="Digite seu e-mail"/>
        <br>
        <button type="submit">Enviar</button>
      </form>
      <div id="back-to-login">
        <a routerLink="/login">Voltar para o login</a>
      </div>
    </div>
  </div>