*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuSuperior{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 88%;
  height: 22px;
  cursor: pointer;
}

.container1{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 30px;
}

/* RODAPE */

.rodape{ 
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13.5rem;    
  background-color: #a52a2a73;   
  align-items: center;
  justify-items: center;     
  flex-direction: column;
  color: #ffffff;
  
}
#contato{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}

.rede-social{
  margin-top: 22px;
  margin-bottom: 20px;
}

#Copyright{
  font-size: 11px;
}

a:hover{
  filter: brightness(0.55);
}

a{
  padding: 5px 7px
}

p{
  margin-top: 3px;
}

.links{
  text-decoration: none; 
}

.btpesquisa{
  color: #a52a2a73;
}

