/* styles.css */
:root {
  --background-color: #000;
  --text-color: #ffffff;
  --input-background: #a52a2a26;
  --footer-background: #a52a2a73;
  --link-hover-color: #007bff;
  --cart-item-count-bg: #ff0000;
  --icon-color: black;
  --icon-hover-color: #007bff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#cp-pesquisar {
  background: var(--input-background);
}

.cart-login a {
  color: var(--icon-color);
}

.cart-login a:hover {
  color: var(--icon-hover-color);
}

.rodape {
  background-color: var(--footer-background);
  color: var(--text-color);
}

a:hover {
  filter: brightness(0.55);
}

.cart-item-count {
  background-color: var(--cart-item-count-bg);
  color: var(--text-color);
}

/* MASCARAS */



/* Media Query Response */

@media ( max-width : 767px) {
	.is-mobile {
		display: block;
	}
}

@media ( min-width : 768px) {
	.is-desktop {
		display: block;
	}
}