body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.cart-login a {
  color: var(--icon-color);
}

.cart-login a:hover {
  color: var(--icon-hover-color);
}

.rodape {
  background-color: var(--footer-background);
  color: var(--text-color);
}

a:hover {
  filter: brightness(0.55);
}

.cart-item-count {
  background-color: var(--cart-item-count-bg);
  color: var(--text-color);
}

/* MASCARAS */



/* Media Query Response */

@media ( max-width : 767px) {
	.is-mobile,
  .rodape,
  .container {
		display: block;
    transform: scale(0.7);
	}
}

@media ( min-width : 768px) {
	.is-desktop {
		display: block;
	}
}